services:
  db:
    image: postgres:latest
    container_name: db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminsenha
      POSTGRES_DB: event-clean-db
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata: